/Day01_HelloWorld/HelloWorld/target/
/Calculator/target/
/Day03_PrimeNumber/PrimeNumber/target/
/Day04_MultiplicationTable/MultiplicationTable/target/
/Day05_MinMaxArray/mavenproject1/target/
/Day05_MinMaxArray/MinMaxArray/target/
/Day06_Palindrome/Palindrome/target/
/Day08_OOPBasics/Car/target/
/Day10_Inheritance/Vehicle/target/
/Day11_polymorphism/Animal/target/
/Day12_Abstraction/Shape/target/
/Car/target/
/Day15_HashMap/Hashmap14/target/
/Day16_IOFile/IOFile/target/
