/Day01_HelloWorld/HelloWorld/target/
/Calculator/target/
/Day03_PrimeNumber/PrimeNumber/target/
/Day04_MultiplicationTable/MultiplicationTable/target/
/Day05_MinMaxArray/mavenproject1/target/
/Day05_MinMaxArray/MinMaxArray/target/
/Day06_Palindrome/Palindrome/target/
/Day08_OOPBasics/Car/target/
/Day10_Inheritance/Vehicle/target/
